<%- include("../partials/header1.ejs") %>
    <title>Chill and relax !</title>
    <link rel="stylesheet" href="/stylesheets/hospital.css">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">

    <style>
        #supp:hover {
            background-color: ghostwhite;
            border: 1.63px solid rgb(42, 21, 139);
        }
        
        #supp1:hover {
            background-color: ghostwhite;
            border: 1.6px solid black;
        }
        
        #supp3:hover {
            background-color: ghostwhite;
            border: 1.6px solid black;
        }
    </style>
    <%- include("../partials/header2.ejs")%>

        <div class="row p-2 text-light " id="top-row">
            <div class="col-4"><i class="ml-5 fab fa-studiovinari" id="icon-up"></i></div>
            <div class="col-8 display-4 mt-2 mb-0 "> <span class="page-head"> view products ! </span>
            </div>
        </div>
        <hr class="py-1 my-2">


        <div class="container">
            <div class="row mt-5">
                <% supplyArr.forEach(function(supply){ %>
                    <% console.log("##### ",supply) %>
                        <div class="col-lg-6 p-2 m-0">
                            <div class="card animate__animated animate__bounceInUp shadow-lg wow fadeInUp  m-0 m-md-1 p-0 p-md-3 " id="supp1">
                                <div class="m-1 p-2 shadow-sm d-flex justify-content-between align-items-center" id="header">
                                    <div><i class="fas fa-truck-loading"></i> Seller</div>

                                </div>
                                <div class="card-header ">
                                    <span class="d-flex justify-content-center"><%= supply.author %></span>
                                </div>
                                <button class="btn my-2 container-fluid border bg-light border-5 ">
                                <h5><span class="pull-left text-dark "><i class="fas fa-phone"></i> Contact </span> &emsp; <span class="pull-right text-danger"><%=supply.phoneNo%></span>
                                </h5>
                            </button>

                                <div class="bg-light p-0 shadow-lg">
                                    <button class="btn  container-fluid list-group-item text-light " style="background-color:navy;"> For sell </button>



                                    <ul class="list-group side-info">
                                        <b>
                                    <li class="list-group-item justify-content-between my-3" >
                                       <div class="row">
                                       <div class="col-4">Name:</div><div class="col-8 text-success"> <%= supply.name %> </div>
                                       <div class="col-4">Quantity:</div><div class="col-8 text-success"> <%= supply.quantity %></div>
                                       <div class="col-4">Specification: </div><div class="col-8 text-success"><%= supply.specification %></div>
                                       <% if(supply.qualityTested=="yes"){ %> 
                                         <div class=" text-success pl-2 m-1"><h5><i class="fas fa-check-circle"></i> Quality Tested</h5></div>
                                       <% } %> 
                                       </div>
                                    </li>  
                                    </b>

                                    </ul>
                                    <% if(currUser&&currUser._id.equals(supply.author_id)){%>

                                        <div class="col-4">
                                            <form action="/supply/del/<%=supply._id%>?_method=DELETE" method="POST"><button class="btn btn-danger  container-fluid">Delete</button></form>
                                        </div>
                                        <% } %>

                                </div>


                            </div>
                        </div>


                        <% }) %>


            </div>

        </div>

        <hr class="py-1 my-2 bg-light ">

        <div class="container">
            <div class="row mt-5">
                <% hospitalArr.forEach(function(hospital){ %>
                    <div class="col-lg-6 p-2 ">
                        <div class="card animate__animated animate__bounceInUp shadow-lg wow fadeInUp  m-0 m-md-1 p-0 p-md-3 " id="supp3">
                            <div class="m-1 p-2 shadow-sm d-flex justify-content-between align-items-center" id="header">
                                <div><i class="fas fa-hospital-alt" id="dp2"></i> Hospital</div>

                            </div>
                            <div class="card-header ">
                                <span class="d-flex justify-content-center"><%= hospital.name %></span>
                            </div>
                            <button class="btn my-2 container-fluid border bg-light border-5 ">
                                <h5><span class="pull-left text-dark "><i class="fas fa-map-marked"></i> Address </span> &emsp; <span class="pull-right text-danger"><%=hospital.address%></span>
                                </h5>
                            </button>
                            <li class="list-group-item justify-content-between">
                                <span class="pull-left text-dark "><i class="fas fa-phone"></i> Phone no </span> &emsp; <span class="pull-right "><%=hospital.phoneNo%></span>
                            </li>
                            <div class="bg-light p-0 shadow-lg">
                                <button class="btn bg-danger container-fluid list-group-item "> Demand of </button>

                                <% for(var i=1;i<=hospital.demand.length;i++){%>
                                    <b>
                                        <div class="border border-secondary">
                                    <ul class="list-group  cotainer my-3 " id="supp">
                                       
                                    <li class="list-group-item justify-content-between my-3" >
                                       <div class="row">
                                       <div class="col-4">Name:</div><div class="col-8 text-success"> <%= hospital.demand[i-1].name %> </div>
                                       <div class="col-4">Quantity:</div><div class="col-8 text-success"> <%= hospital.demand[i-1].quantity %></div>
                                       <div class="col-4">Specification: </div><div class="col-8 text-success"><%= hospital.demand[i-1].specification %></div>
                                       </div>
                                       
                                    </li> 
                                


                                    <% if(currUser&&currUser._id.equals(hospital.author._id)){%>

                                        <div class="col-4 mb-2">
                                            <form action="/hospital/<%=hospital._id %>/supply/<%=hospital.demand[i-1]._id%>?_method=DELETE" method="POST"><button class="btn btn-danger  container-fluid">Delete</button></form>
                                        </div>
                                        <% } %>

                                    </ul> 
                                </div>
                                </b>

                                    <% } %>
                            </div>

                            <div class="container  m-2 pl-0">
                                <a href="/hospital/<%= hospital._id%>/show" class="btn btn-info text-light container-fluid">Hospital info </a>
                            </div>
                        </div>
                    </div>



                    <% }) %>
            </div>

        </div>



        <%- include("../partials/footer1.ejs") %>
            <script type="text/javascript" src="/jsPage/hospital.js"></script>
            <%- include("../partials/footer2.ejs") %>