<%- include("../partials/header1.ejs") %>
    <title> Create hospital!</title>
    <style>
        .form-inline input .form-control {
            width: 50%;
        }
    </style>
    <%-include("../partials/header2.ejs")%>

        <div class="jumbotron fluid  text-white display-4 py-4" style="background-color:rgb(30, 131, 156);">
            <span class=" d-flex justify-content-center ">
         Update Todays's Data..!
         <% console.log("ok ",h) %> 
      </span>
        </div>
        <div class="container-fluid ">
            <div class="row m-5 p-5 ">
                <div class="col-2 "></div>
                <div class="col-8 ">
                    <form class=" " action="/hospital/<%=h._id %>?_method=PUT" method="POST">
                        <% var H= h%>
                            <div class="form-group d-none">
                                <label>Hospital Registration no.</label>
                                <input class="form-control form1 border-dark" type="text" placeholder="Registration no." name="H[regNo]" value=<%=h .regNo %> required>
                            </div>
                            <div class="form-group d-none">
                                <label>Hospital name</label>
                                <input class="form-control form1 border-dark" type="text" placeholder="hospitalground-name" name="H[name]" value=<%=h.name %> required>
                            </div>

                            <div class="form-group d-none">
                                <label>Full Address</label>
                                <div><textarea class="container-fluid" placeholder="Address" name="H[address]" required rows="2" required><%=h.address%></textarea></div>
                            </div>

                            <div class="form-group d-none">
                                <label>Contact no.</label>
                                <input class="form-control form1 border-dark" type="text" placeholder="Registration no." name="H[phoneNo]" value=<%=h.phoneNo%> required>
                            </div>

                            <div class="form-group d-none">
                                <label>Facilities available in hospital!</label>
                                <div><textarea class="container-fluid" placeholder="Write here" name="H[description]" rows="2"><%=h.description%> </textarea></div>
                            </div>

                            <div class=" form-inline my-4 d-none">
                                <label><b>Does this hospital treat Corona! </b> </label>
                                <input class="form-control form1 border border-danger ml-5 " type="checkbox" name="H[isCorona]" value="yes" <% if(h.isCorona=="yes" ) { %> checked
                                <%}%>
                                    >
                            </div>

                            <div class=" row my-4 border pb-2">
                                <div class="col-6">
                                    <label class="mr-4">Total No of Doctors</label>
                                    <input class="form-control form1 border border-dark " type="number" name="H[totalDoc]" value=<%=h.totalDoc%> required>
                                </div>
                                <div class="col-6">
                                    <label class="mr-4 ">Total avialable Doctors</label>
                                    <input class="form-control form1 border border-dark " type="number" name="H[availDoc]" value=<%=h.availDoc%> required>
                                </div>
                            </div>
                            <div class=" row my-4 border pb-2">
                                <div class="col-6">
                                    <label class="mr-4">Total No of Beds</label>
                                    <input class="form-control form1 border border-dark " type="number" name="H[totalBed]" value=<%=h.totalBed%> required>
                                </div>
                                <div class="col-6">
                                    <label class="mr-4">Total avialable Beds</label>
                                    <input class="form-control form1 border border-dark " type="number" name="H[availBed]" value=<%=h.availBed%> required>
                                </div>
                            </div>

                            <div class="row my-4 ">
                                <div class="col-6">
                                    <label class="mr-4">Cost of bed per night</label>
                                    <br><i class="fas fa-rupee-sign"></i> <input class="form-control form1 border border-dark " type="number " name="H[cost]" value=<%=h.cost%> required>
                                </div>
                            </div>

                            <div class="mt-2 ">
                                <button class="btn  container-fluid text-light" type="submit" style="background-color:rgb(30, 131, 156);">Submits</button>
                            </div>
                    </form>
                </div>
                <div class="col-2 "></div>

            </div>
        </div>

        <%- include("../partials/footer1.ejs")%>
            <%- include("../partials/footer2.ejs") %>