<%- include("../partials/header1.ejs") %>
    <title>hospital Grounds</title>
    <link rel="stylesheet" href="/stylesheets/showhospital.css">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">

    <%-include("../partials/header2.ejs")%>




        <hr class="py-1 my-2">

        <div class=" row container-fluid justify-content-around" id="main">

            <div class="col-12 col-xl-4 order-xl-1 order-2 p-lg-2">
                <div class="container shadow-lg ">
                    <div><button class="btn bg-light container-fluid my-2"> Map </button></div>
                    <iframe class="container-fluid" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%=hospital.address%>&key=AIzaSyB0-K0lp_Ej9tIERX9oxZDNigwR73HNt-Q" allowfullscreen></iframe>
                    <button class="btn my-2 container-fluid border bg-light border-5 ">
                        <h5><span class="pull-left text-dark "><i class="fas fa-map-marked"></i> Address </span> &emsp; <span class="pull-right text-danger"><%=hospital.address%></span>
                        </h5>
                    </button>
                </div>
                <div class="container mt-5 p-0 shadow-lg">
                    <ul class="list-group side-info">

                        <button class="btn btn-success list-group-item bg-success">info </button>
                        <b>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "> <i class="fas fa-lungs-virus"></i> Does treat Corona ? </span> &emsp; <span class="pull-right text-danger"><%=hospital.isCorona%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "><i class="fas fa-procedures"></i>  Total no of Beds </span> &emsp; <span class="pull-right "><%=hospital.totalBed%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "><i class="fas fa-procedures"></i> Available Beds </span> &emsp; <span class="pull-right text-danger"><%=hospital.availBed%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "><i class="fas fa-rupee-sign"></i> Cost per night </span> &emsp; <span class="pull-right text-danger"><i class="fas fa-rupee-sign"></i> <%=hospital.cost%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "> <i class="fas fa-user-md"></i> Total no of Doctors </span> &emsp; <span class="pull-right "><%=hospital.totalDoc%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "> <i class="fas fa-user-md"></i> Total available Doctors </span> &emsp; <span class="pull-right text-danger"><%=hospital.availDoc%></span>
                        </li>
                        
                    </b>
                    </ul>
                </div>

                <div class="container mt-5 p-0 shadow-lg">
                    <ul class="list-group side-info">

                        <button class="btn btn-success list-group-item bg-primary">Contact </button>
                        <b>
                        <li class="list-group-item justify-content-between">
                            <% console.log("yoooo ",hospital.author) %> 
                            <span class="pull-left text-dark "><i class="fas fa-envelope-open"></i>  Email: </span> &emsp; <span class="pull-right text-danger"><%=hospital.author.username%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "><i class="fas fa-phone"></i> Phone no </span> &emsp; <span class="pull-right "><%=hospital.phoneNo%></span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            <span class="pull-left text-dark "><i class="fas fa-map-marked"></i> Address </span> &emsp; <span class="pull-right text-danger"><%=hospital.address%></span>
                        </li>
                             
                    </b>
                    </ul>
                </div>

            </div>
            <div class="col-12  order-xl-2 order-1 col-xl-8">
                <% if(currUser&&currUser._id.equals(hospital.author._id)){%>
                    <div class="row justify-content-around">
                        <a href="/hospital/<%=hospital._id%>/demand" class="col-12 col-lg-5 btn btn-dark container-fluid mb-3"> Require supplies</a>
                        <a href="/hospital/<%=hospital._id%>/edit2" class="col-12 col-lg-5 btn btn-warning container-fluid mb-3"> Update Today's data</a>
                    </div>
                    <%}%>

                        <div class="card shadow-lg  p-lg-2 wow animate__animated animate__bounceInUp " id="<%=hospital._id %> ">
                            <div class="m-1 p-2 shadow-sm d-flex justify-content-between align-items-center" id="header">
                                <div><i class="fas fa-hospital-alt" id="dp2"></i> Hospital</div>
                                <div>
                                    Last updated:
                                    <%= hospital.createdAt.toDateString() %>
                                </div>
                            </div>



                            <div id="demo" class="carousel slide container-fluid" data-ride="carousel" data-interval="10000">

                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <img class="card-img-top" src="/<%= hospital.img_url[0] %> ">
                                    </div>
                                    <%for(var ii=1;ii<hospital.img_url.length;ii++){ %>
                                        <div class="carousel-item ">
                                            <img class="card-img-top" src="/<%= hospital.img_url[ii] %> ">
                                        </div>
                                        <% } %>

                                            <div class="carousel-item ">
                                                <video class="container-fluid" controls autoplay>
                                                    <source src="/<%=  hospital.vid_url%> " type="video/mp4" />
                                                  </video>
                                            </div>

                                </div>



                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>

                            </div>

                            <div class="card-header ">
                                <span class="d-flex justify-content-center"><%= hospital.name %></span>
                            </div>
                            <div class="card-body ">
                                <%= hospital.description %>
                            </div>

                            <div class="card-footer shadow-md">
                                <div class="row justify-content-around text-light">
                                    <span class="col-md-5 col-6  btn btn-light">
                                    <form  action="/hospital/<%=hospital._id%>/like" method="POST" >
                                    <button class="container-fluid"><i class="far fa-heart" id="like"></i>
                                   
                                    <%= hospital.likesNo %> Likes
                                    </button>
                                </form> 
                                </span>
                                    <span class="col-md-5 col-6 btn btn-light" id="show-comments">
                                   
                                    <i class="fas fa-comments" id="comment"></i>
                                    <%= hospital.commentNo %> Comments
                                </span>
                                </div>
                            </div>
                            <div class="container d-none" id="view-comments">
                                <% hospital.comment.forEach(function(comment){ %>
                                    <div class="row shadow-lg p-2 m-2">
                                        <div class="col-3">

                                            <b><span class="text-danger"> <%=comment.authorName %></span></b>
                                            <i class="fas fa-bullhorn"></i>
                                        </div>
                                        <div class="col-9">
                                            <span id="comment-content"><%=comment.content %></span><br>

                                            <span class="d-flex justify-content-end text-danger">
                                        <% if(currUser&&currUser._id.equals(comment.author)){%>
                                            <form action="/hospital/<%=hospital._id %>/comment/<%=comment._id%>?_method=DELETE" method="POST"><button><i id="comment-del" class="far fa-trash-alt"></i></button>  </form>                                      
                                        <%console.log("ooooooooo ",hospital._id, comment._id) } %> </span>
                                            <span class="d-flex justify-content-end text-dark">-created at: <%=comment.createdAt.toDateString() %></span>
                                        </div>
                                    </div>
                                    <% } )%>
                            </div>
                            <div class="container  m-3">
                                <form action="/hospital/<%=hospital._id%>/comment" method="POST">
                                    <div class="row">

                                        <div class="col-1"><i class="fas fa-comments" id="comment2"></i></div>
                                        <div class="col-10 pr-3"> <input type="text" class="fluid form-control" name="content" placeholder="Add comments........"></div>
                                        <div class="col-1"><button id="tick-btn " class="text-success"><i class="fas fa-check-circle" id="tick"></i></button></div>
                                    </div>

                                </form>
                            </div>

                            <% if(currUser&&currUser._id.equals(hospital.author._id)){%>
                                <div class="m-4 row justify-content-around">
                                    <div class="col-md-4 col-6">
                                        <a href="/hospital/<%=hospital._id %>/edit" class="btn btn-warning text-dark container-fluid">Edit</a>
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <form action="/hospital/<%=hospital._id %>?_method=DELETE" method="POST"><button class="btn btn-danger  container-fluid">Delete</button></form>
                                    </div>
                                </div>
                                <% } %>
                        </div>

            </div>

        </div>

        <%- include("../partials/footer1.ejs") %>
            <script type="text/javascript" src="/jsPage/hospital.js"></script>
            <%- include("../partials/footer2.ejs") %>